@import "../../assets/style/variables";

.icon-link-block {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $color-black;
    padding: 1.5rem 3rem;
    color: $color-white;
    text-decoration: none;
    text-align: center;

    img {
        max-width: 35px;
        height: auto;
    }

    span {
        margin-top: 0.5em;
        color: $color-cyan;
    }

    &:hover {
        span {
            text-decoration: underline;
        }
    }
}
