@import "../../assets/style/variables";

$breakpoint: $mobile;

.navbar {
    background: $color-black;
    padding: 1rem 0;

    @media screen and (min-width: $breakpoint) {
        padding: 0;
    }

    &-inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media screen and (min-width: $breakpoint) {
            flex-direction: row;
            align-items: center;
        }
    }

    &-brand {
        width: 100%;
        display: flex;
        align-items: center;

        img {
            height: 2rem;
            width: auto;
        }

        @media screen and (min-width: $breakpoint) {
            width: auto;
        }

        a:link,
        a:visited {
            color: $color-white;
            text-decoration: none;
        }
    }

    .navbar &-toggle {
        margin-left: auto;

        @media screen and (min-width: $breakpoint) {
            display: none;
        }
    }

    &-menu {
        list-style: none;
        padding: 0;
        width: 100%;
        display: none;
        transition: all .3s;

        &.is-active {
            display: block;
        }

        @media screen and (min-width: $breakpoint) {
            margin: 0 0 0 auto;
            width: auto;
            display: block;
        }

        li {
            display: block;

            @media screen and (min-width: $breakpoint) {
                display: inline;
            }

            a {
                display: block;
                padding: 1.5rem 1rem;
                transition: all .3s;

                @media screen and (min-width: $breakpoint) {
                    display: inline-block;
                }
            }

            a:link,
            a:visited {
                color: $color-white;
                text-decoration: none;
            }

            a:hover {
                background: $color-white;
                color: $color-black;
            }
        }
    }
}
