html {
    box-sizing: border-box;
    font-family: $font-family-main;
    font-weight: $font-weight-regular;
    color: $color-black-text;
}

body {
    background: $color-grey-light;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-heading;
    color: $color-black;
}

h1, h2 {
    font-weight: $font-weight-extrabold;
}

h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .main-content {
        flex-grow: 1;
        line-height: 1.7em;
        font-size: 1.125em;
        display: flex;
        flex-direction: column;
    }
}
