@import "variables";

$breakpoint: $mobile;

.testimonial {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;

    @media screen and(min-width: $breakpoint) {
        flex-direction: row;
    }

    .testimonial-text {
        font-style: italic;
        line-height: 2.2em;
        margin: 0;
        position: relative;

        > p {
            padding: 0.5rem 2rem;
            margin: 0;
        }

        &:before, &:after {
            content: "";
            position: absolute;
            display: block;
            background-size: 1rem 1rem;
            width: 1rem;
            height: 1rem;
            mask-size: cover;
            background-color: scale-color($color-grey-darker, $lightness: -10%);
        }

        &:before {
            mask: url(/static/icons/quote-left.svg);
            left: 0;
            top: 0;
        }

        &:after {
            mask: url(/static/icons/quote-right.svg);
            right: 0;
            bottom: 0;
        }
    }

    .testimonial-author {
        min-width: 150px;
        text-align: center;
        margin: 2rem 0 0 0;
        font-size: 1rem;

        @media screen and(min-width: $breakpoint) {
            margin: 0 0 0 2rem;
        }

        &-image {
            width: 100px;
            height: auto;
            border-radius: 50%;
            filter: grayscale(1);
        }

        &-name {
            font-weight: $font-weight-bold;
            margin: 0.5rem 0 0 0;
        }

        &-role {
            margin: 0;
        }
    }
}
