// ==== Typograhpy
$font-family-main: "Open Sans", sans-serif;
$font-family-heading: "Raleway", sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

// ==== Colors
$color-red: hsl(4, 90, 58);
$color-cyan: hsl(171, 100, 41);
$color-amber: hsl(45, 100, 51);
$color-white: hsl(0, 0, 100);
$color-black: hsl(0, 0, 0);
$color-black-text: hsl(0, 0, 27);
$color-grey-light: hsl(0, 0, 96);
$color-grey-darker: hsl(0, 0, 92);
$color-grey-darkest: hsl(0, 0, 10);
